@tailwind base;
@tailwind components;
@tailwind utilities;

#info {
    background-color: darkseagreen;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    
  }

  .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 600px;
    height: 600px;
  }
  
  .modalContainer {
    width: 350px;
    position: fixed;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
  }

.home{
  height: 100vh;
  background-image: url(./assets/background.jpg) ;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.back{
  height: 100vh;
  background-image: url(./assets/blue.jpg) ;
  background-size: cover;
  background-position: center;
 
}
.title{
  color: #688e91;
  margin-left: 7.5rem;
  padding-top: 4rem;
  width: 40%;
  font-size: 3.5rem;
  font-family: monospace;
}

.link{
  color: #453181;
  margin-left: 11rem;
  margin-top: 50px;
  font-size: 2rem;
  text-decoration:none;
  width: max-content;
  font-weight:600;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px;
}

.link:hover{
  color:  #688e91 ;
}

h2{
  padding-top: 50px;
  font-size: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #53559c; 
  width: 600px;
  text-align: center;
}